<div class="span3">

</div>

<div class="span9">

  <h2>Getting started...</h2>

  <dl class="paddedList">

    <dt>Set room info to 1</dt>
    <dd><code>opt room.info 1</code></dd>

    <dt>Make an alias to look and scan at the same time</dt>
    <dd><code>alias *l l & scan</code></dd>

    <dt>Secret keys... shhh</dt>
    <dd>
      <dl class="dl-horizontal">

        <dt>arrow keys</dt>
        <dd>move or target north/east/south/west</dd>

        <dt>`</dt>
        <dd>target here</dd>

        <dt>page up / page down</dt>
        <dd>up/down</dd>

        <dt>shift-up / shift-down</dt>
        <dd>up/down through command history</dd>

        <dt>arrow keys</dt>
        <dd>north/east/south/west</dd>

        <dt>tab</dt>
        <dd>scan</dd>

        <dt>0 - 9</dt>
        <dd>attack or commands</dd>

      </dl>
    </dd>

  <dl>

</dl></dl></div>