<div class="row-fluid controlButtons" ng-controller="CommandBarCtrl">
  <span class="span9">
    <input ng-model="command" class="input-block-level" type="text">
  </span>
  <span class="span1">
    <button ng-click="historyChange(-1)" class="btn btn-block" type="button">
      <i class="icon-caret-down"></i>
    </button>
  </span>
  <span class="span1">
    <button ng-click="historyChange(1)" class="btn btn-block" type="button">
      <i class="icon-caret-up"></i>
    </button>
  </span>
  <span class="span1">
    <button class="btn btn-block" type="button" ng-click="enterCommand()">
      <i class="icon-ok"></i>
    </button>
  </span>
</div>