<table ng-controller="ScanCtrl">
  <tbody>
    <tr>
      <td><button scan-direction="up"></button></td>
      <td></td>
      <td><button scan-direction="north"></button></td>
      <td></td>
      <td><button scan-direction="refresh"></button></td>
    </tr>
    <tr>
      <td></td>
      <td><button scan-direction="west"></button></td>
      <td></td>
      <td><button scan-direction="east"></button></td>
      <td></td>
    </tr>
    <tr>
      <td><button scan-direction="down"></button></td>
      <td></td>
      <td><button scan-direction="south"></button></td>
      <td></td>
      <td><button scan-direction="here"></button></td>
    </tr>
  </tbody>
</table>
