<div ng-controller="ScanCtrl" class="moveButtons">

  <div class="row-fluid">

    <div class="span2">
      <button scan-direction="up"></button>
    </div>
    <div class="span2 offset2">
      <button scan-direction="north"></button>
    </div>
    <div class="span2 offset2">
      <button scan-direction="refresh"></button>
    </div>

  </div>

  <div class="row-fluid">

    <div class="span2 offset2">
      <button scan-direction="west"></button>
    </div>
    <div class="span2 offset2">
      <button scan-direction="east"></button>
    </div>

  </div>

  <div class="row-fluid">

    <div class="span2">
      <button scan-direction="down"></button>
    </div>
    <div class="span2 offset2">
      <button scan-direction="south"></button>
    </div>
    <div class="span2 offset2">
      <button scan-direction="here"></button>
    </div>

  </div>

</div>