
<div class="span3">

</div>

<div class="span9">

  <h2>Hello, and welcome to MUDding.</h2>
  <p>More specifically, welcome to The Forest's Edge (hereafter referred to as TFE)</p>


  <dl>
    <dt>What is a MUD?</dt>
    <dd>It is an on-line real time multiplayer text based role-playing game. Think D&D without a DM or EverQuest without graphics.</dd>

    <dt>Why MUD?</dt>
    <dd>Because it's challenging. Because its fun. Because it's rewarding, and will make you a better typist than you ever thought imaginable.</dd>

    <dt>But why MUD and not D&D or EverQuest?</dt>
    <dd>D&D is a great game, but requires tons of preparation, coordinating schedules, and plenty of Mountain Dew to keep the DM's attention focused. EverQuest is also a great game but it and its descendants require increasingly expensive PC hardware, monthly fees, and you get very little input into the world you inhabit.</dd>

    <dt>Text though, I.m just not sure I can deal with that.</dt>
    <dd>You.ve been watching too much TV and have no faith in the power of your own imagination. Once you are used to reading the screen you will find that TFE is incredibly exciting, richly textured, and thoroughly enjoyable. I would further submit that the lack of graphics frees you to imagine the world in more detail. it's almost like getting a brain massage.</dd>

    <dt>Ok, I.m willing to give it a shot. How do I get started?</dt>
    <dd>Get a MUD client. I suggest Zmud. It is free for 30 days, and if you aren.t addicted to MUDding enough to purchase it at the end of that period, or are simply too broke (or cheap) many free MUD clients are available on the net. Configure the client to connect to TFE. telnet address: theforestsedge.com port 4000</dd>

    <dt>Uh, whats this account thing?</dt>
    <dd>Each player needs an account to create a character so that there is accountability for the players. Some MUDs allow people to play more than one character at once. this is called <em>multiplaying</em>. This is NOT one of those MUDs. The TFE administrative staff asks players to only play only one character at a time. Each player should have only one account, and each account may have as many characters in it as the player wants to play. The TFE administrative staff enforces a <em>5 minute</em> wait rule when switching between characters, so that there is no question about whether a person is multiplaying. Having an account also allows you to manage your characters and recover character passwords. Do NOT lose your account password.</dd>

    <dt>Ok I made an account. What kind of character should I play?</dt>

    <dd>Well, that's up to you. Play something that sounds fun. I suggest that you don't have any stats below 11, for your first character. You should know that most new MUD players do not stick with their initial character. After a few levels, it is common for a player to decide that he or she wants different stats, or a different class.</dd>

    <dt>OK I made a character and now I can see an old elf (or an old troll). what now?</dt>

    <dd>You need to know some basic commands:

    <ul>
      <li>Combat commands: Kill, Flee</li>
      <li>Environmental commands: Look, Scan, Exits</li>
      <li>Movement commands: North, South, East, West, Up, Down</li>
      <li>Information commands: Score, Identity</li>
      <li>Item related commands: Get, Drop, Wear, Remove, Inventory, Equipment</li>
      <li>Store commands: List, Sell, Buy, Value, Repair</li>
      <li>Communication commands: Tell, Say, Yell, Shout, Channels</li>
      <li>Misc. commands: Stand, Sleep, Rest</li>
    </ul>


    There are many, many, many, many commands. Sometimes there are special commands that are used only in one room to do something special like <em>move bush</em>. which, when executed in the correct room opens a previously hidden exit into a cave. Right now would be a great time to type help newbie.</dd>

    <dt>Holy cow! Do I have to read all of these room descriptions?</dt>
    <dd>No, but you might find it enjoyable and eventually helpful. TFE is a labor of love, and there is an amazing amount of detail in almost everything in the game.</dd>

    <dt>I am hungry/thirsty!</dt>
    <dd>Yes, you must eat and drink constantly to keep from wasting away. Its always a good strategy to keep some extra food and a container of water with you for when you become hungry and thirsty. Running back to town every time you need food or water will eventually become problematic, but can be managed at the very start of the game when you simply don't have other resources available to you. Free food and a cup (which is sellable) pop (are auto-generated) every few minutes in the room where you first start on the mud.</dd>

    <dt>What should I do to get my first level? I'm not sure where to go.</dt>
    <dd>I suggest you arm yourself with a weapon, wear some armor if you have any, than step outside of town to kill some rabbits. If you are evil, you start in a place with no rabbits, but you can kill bats instead. Walk into a room with a rabbit. Type <em>kill rabbit</em>. If your hit points start getting low, type <em>flee</em>. Between fights, I suggest <em>sleep</em>ing to gain your hit points back more quickly. When you have killed a creature, such as a rabbit or a bat, type <em>skin corpse</em> and see if you can get something useful from the remains of your victim. Repeat.</dd>

  <dl>

</div>