
  <div class="row-fluid">

    <div class="span3">

      <div class="well sidebar-nav">

        <ul class="nav nav-list" ng-controller="ScanCtrl">
          <scan-direction ng-repeat="(direction, mobs) in adjacentMobs" direction="{{direction}}" mobs="mobs" />
        </ul>

      </div><!--/.well -->
    </div><!--/span-->

    <div class="span9">

      <div id="telnetOutput" style="height: {{windowHeight-115}}px" class="bg fg" ng-bind-html-unsafe="telnet.outputBuffer"></div>

      <form class="form" id="telnetCommand">
        <div class="input-append span12">
          <input type="text" class="span11" ng-model="commandText">
          <button class="btn" telnet-send="{{commandText}}">send</button>
        </div>
      </form>


    </div><!--/span-->

  </div><!--/row fluid-->

