<div class="row-fluid">

  <div class="span3">

    <ng-include src="'templates/movementButtons.tpl.html'"></ng-include>

    <div ng-controller="CommandButtonsCtrl" ng-show="(autoscanScope.selectedDirection == '')">
      <h4>commands</h4>
      <ol>
        <li ng-repeat="cmd in aUserCommands"><a telnet-send="{{cmd}}">{{cmd}}</a></li>
      </ol>
    </div>

  </div><!--/span-->

  <div class="span9">

    <div id="telnetOutput" style="height: {{windowHeight-120}}px" class="bg fg" ng-bind-html-unsafe="telnetScope.outputBuffer" autoscroll></div>

    <command-bar></command-bar>

  </div><!--/span-->

</div><!--/row fluid-->